# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore log files
*.log

# Ignore npm debug file
npm-debug.log

# Ignore system specific files
.DS_Store
